USE [Constractors]
GO
/****** Object:  Table [dbo].[Oprations]    Script Date: 12/12/2024 10:12:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oprations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Oprationname] [nvarchar](50) NULL,
	[Detailes] [nvarchar](50) NULL,
	[Tblname] [nvarchar](50) NULL,
	[Date] [date] NOT NULL,
	[Time] [nvarchar](50) NULL,
	[Tblid] [int] NOT NULL,
	[Usrid] [int] NOT NULL,
 CONSTRAINT [PK__Opration__3214EC07905E17C5] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 12/12/2024 10:12:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Partnername] [nvarchar](250) NOT NULL,
	[Description] [nvarchar](500) NULL,
 CONSTRAINT [PK_Partner] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 12/12/2024 10:12:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Projectname] [nvarchar](250) NOT NULL,
	[Amount] [decimal](18, 2) NULL,
	[Amountvat] [decimal](18, 2) NULL,
	[Note] [nvarchar](500) NULL,
	[Prtid] [int] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblTransactions]    Script Date: 12/12/2024 10:12:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblTransactions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Creditor] [decimal](18, 2) NULL,
	[Debitor] [decimal](18, 2) NULL,
	[TDate] [date] NULL,
	[Detailes] [nvarchar](500) NULL,
	[Vatamount] [decimal](18, 2) NOT NULL,
	[Proid] [int] NULL,
 CONSTRAINT [PK_Tbl_Transaction] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/12/2024 10:12:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](150) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Oprations] ON 

INSERT [dbo].[Oprations] ([Id], [Oprationname], [Detailes], [Tblname], [Date], [Time], [Tblid], [Usrid]) VALUES (1, N'inserted at', N'تم اضافة المشروع في', N'Project', CAST(N'2024-10-19' AS Date), N'10:07:00.0000000', 1, 1)
INSERT [dbo].[Oprations] ([Id], [Oprationname], [Detailes], [Tblname], [Date], [Time], [Tblid], [Usrid]) VALUES (2, N'inserted at', N'تم اضافة المشروع في', N'Project', CAST(N'2024-10-19' AS Date), N'10:07:00.0000000', 2, 1)
INSERT [dbo].[Oprations] ([Id], [Oprationname], [Detailes], [Tblname], [Date], [Time], [Tblid], [Usrid]) VALUES (3, N'inserted at', N'تم اضافة المشروع في', N'Project', CAST(N'2024-10-19' AS Date), N'10:07:00.0000000', 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Oprations] OFF
GO
SET IDENTITY_INSERT [dbo].[Partners] ON 

INSERT [dbo].[Partners] ([ID], [Partnername], [Description]) VALUES (1, N'محمد عمر', NULL)
SET IDENTITY_INSERT [dbo].[Partners] OFF
GO
SET IDENTITY_INSERT [dbo].[Projects] ON 

INSERT [dbo].[Projects] ([ID], [Projectname], [Amount], [Amountvat], [Note], [Prtid]) VALUES (1, N'محسن المركز الرئيسي', CAST(1484.00 AS Decimal(18, 2)), CAST(193.57 AS Decimal(18, 2)), N'', 1)
INSERT [dbo].[Projects] ([ID], [Projectname], [Amount], [Amountvat], [Note], [Prtid]) VALUES (2, N'محسن المركز الرئيسي2', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'', 1)
INSERT [dbo].[Projects] ([ID], [Projectname], [Amount], [Amountvat], [Note], [Prtid]) VALUES (3, N'محسن كيلو 14-2', CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'', 1)
GO
SET IDENTITY_INSERT [dbo].[Projects] OFF
GO
SET IDENTITY_INSERT [dbo].[TblTransactions] ON 

INSERT [dbo].[TblTransactions] ([ID], [Creditor], [Debitor], [TDate], [Detailes], [Vatamount], [Proid]) VALUES (1, CAST(0.00 AS Decimal(18, 2)), CAST(178.25 AS Decimal(18, 2)), CAST(N'2023-03-01' AS Date), N'قرص تخزين 2TB راسكوتيك 2770', CAST(23.25 AS Decimal(18, 2)), 1)
INSERT [dbo].[TblTransactions] ([ID], [Creditor], [Debitor], [TDate], [Detailes], [Vatamount], [Proid]) VALUES (2, CAST(0.00 AS Decimal(18, 2)), CAST(436.08 AS Decimal(18, 2)), CAST(N'2023-03-01' AS Date), N'سمات جهاز 8 قنوات', CAST(56.88 AS Decimal(18, 2)), 1)
INSERT [dbo].[TblTransactions] ([ID], [Creditor], [Debitor], [TDate], [Detailes], [Vatamount], [Proid]) VALUES (3, CAST(0.00 AS Decimal(18, 2)), CAST(29.90 AS Decimal(18, 2)), CAST(N'2023-03-01' AS Date), N'سوتش من راسكوتيك تي بي لينك 5 منفذ', CAST(3.90 AS Decimal(18, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[TblTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password]) VALUES (1, N'Admin', N'Admin')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Oprations]  WITH CHECK ADD  CONSTRAINT [FK_Opration_User] FOREIGN KEY([Usrid])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Oprations] CHECK CONSTRAINT [FK_Opration_User]
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Project_Partner] FOREIGN KEY([Prtid])
REFERENCES [dbo].[Partners] ([ID])
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [FK_Project_Partner]
GO
